[Unit]
Description=IP sets for iptables
Before=netfilter-persistent.service
Before=network-pre.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/ipset.start-stop start
ExecStop=/usr/local/bin/ipset.start-stop stop
ExecReload=/usr/local/bin/ipset.start-stop reload
# Save current ipset entries on stop/restart.
#   Value: yes|no,  default: no
# Saves all ipsets to /etc/ipset.conf if ipset gets stopped
Environment=IPSET_SAVE_ON_STOP=yes IPSET_SAVE_ON_RESTART=no

[Install]
WantedBy=basic.target
